.page_container {
    /* display: table; */
    width: 100vw;
    height: 100vh;
}

.image_container {
    max-height: 100%;
    position: relative;
}

.poster {
    max-width: 100%;
    height: calc(100vh - 66px);
    width: 100%;
}

.description {
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    max-width: 60%;
    padding-inline: 1rem;
    padding-bottom: 3rem;
}

.iconsContainer {
    display: flex;
    gap: 1.4rem;
    align-items: center;
}

.addContainer {
    padding: 0.3rem;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    border: 2px solid #fff;
    cursor: pointer;
}

.add {
    height: 2.2rem;
}

.playContainer {
    color: #000;
    background: #fff;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #fff;
    cursor: pointer;
}

.play {
    height: 2.4rem;
}

.trailer {
    height: 2.4rem;
}

.trailerContainer {
    background: rgba(0, 0, 0, 0.4);
    padding-inline: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border: 1px solid #fff;
    padding-block: 0.5rem;
    padding-inline: 2rem;
    cursor: pointer;
    font-size: 1rem;
}

.description>h1 {
    font-size: 1rem;
    font-weight: 500;
}

.description>p {
    font-size: 0.7rem;
    font-weight: 400;
    margin-block: 1.2rem;
}

.image_wrapper {
    position: relative;
}

.smallIcons {
    display: none;
    max-width: 60%;
}

@media screen and (max-width:900px) {
    .poster {
        height: auto;
    }

    .iconsContainer {
        position: absolute;
        top: 100px;
        display: none;
    }

    .description {
        position: static;
        max-width: 100%;
    }

    .smallIcons {
        display: flex;
        position: absolute;
        left: 1rem;
        bottom: 1rem;
        gap: 1rem;
        align-items: center;
    }
}

@media screen and (max-width:650px) {
    .add {
        height: 1.2rem;
    }

    .addContainer {
        padding: 0.2rem;
        border: 1px solid #fff;
    }

    .trailer {
        height: 1.5rem;
    }

    .trailerContainer {
        font-size: 0.7rem;
        padding-inline: 1.3rem;
        padding-block: 0.25rem;
        border: 0.5 px solid #fff;
    }

    .play {
        height: 1.5rem;
    }

    .playContainer {
        font-size: 0.7rem;
        padding-inline: 1.3rem;
        padding-block: 0.25rem;
        border: 0.5 px solid #fff;
    }
}