.slider {
    position: relative;
    /* margin-left: 130px; */
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
}


.slider-images {
    display: flex;
    overflow: scroll;
}

.slider-images::-webkit-scrollbar {
    display: none;
}


.sliderImage {
    min-width: 100%;
    width: auto;
    min-height: 200px;
    height: auto;
    max-height: 300px;
    /* object-fit: cover; */
}

.slider-arrows {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow {
    color: #fff;
    width: 4rem;
    height: 4rem;
    font-size: 4rem;
    font-weight: 100;
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    .slider {
        margin-left: 2rem;
    }

    .arrow {
        width: 2rem;
        height: 2rem;
        font-size: 2rem;
    }
}

@media screen and (max-width:500px) {
    .slider {
        margin-inline: 1rem;
    }
}

@media screen and (min-height:600px) {
    .slider-image {
        max-height: 400px;
    }
}