:root {
    --background-color: #040714;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    overflow: scroll;
    min-height: 100%;
    margin-inline: auto;
    background-color: var(--background-color);
}

body::-webkit-scrollbar {
    display: none;
}